extends layout

block content
  h1= title
  p Welcome to Brady's #{title} server
  button(type="button", class="btn, btn-primary" onclick="double()") I am a button
  div(id="double") Up the amount
  a(href="ostrich") Ostrich Search
 
  script.
    value = 0
    power = 1
    function double() {
      value += 1
      power *= 2
      document.getElementById("double").innerHTML = `Two to the power ${value} is ${power}`
    }
  
  
  
